<div class="col s3">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Chats</span>
			<table>
				<thead>
					<tr>
						<td>Food</td>
						<td>Price</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk chats modal-trigger milk">Strawberry Smoothie</a></td>
						<td>
							$3.50
						</td>
					</tr>
						<td>
							<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk chats modal-trigger wheat, eggs">Chocolate Chip Cookie</a>
						</td>
						<td>
							$0.85
						</td>
					<tr>
						<td>
							<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk chats modal-trigger wheat, eggs">Ultimate Breakfast Bar</a></p>
						</td>
						<td>
							$2.50
						</td>
					</tr>
					<tr>
						<td><a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk chats modal-trigger">Coffee</a></td>
						<td>
							$1.50
						</td>
					</tr>
					<tr>
						<td><a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk chats modal-trigger wheat, nuts">Scotcharoo Bar</a></td>
						<td>
							$2.00
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

