<div class="col s3">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Chats</span>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat">Strawberry Smoothie $3.50</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat">Chocolate Chip Cookie $0.85</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat">Ultimate Breakfast Bar $2.50</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat">Coffee $1.50</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat">Scotcharoo Bar $2.00</a>
	</div>
</div>

