<div class="column">
    <div class="portlet">
        <div class="portlet-header">Feeds</div>
    </div>
    <div class="portlet">
        <div class="portlet-header">News</div>
    </div>
    <div class="portlet">
        <div class="portlet-header">Shopping</div>
    </div>
    <div class="portlet">
        <div class="portlet-header">Links</div>
    </div>
    <div class="portlet">
        <div class="portlet-header">Images</div>
    </div>
</div>