<!-- Dropdown Structure -->
<ul id='filter' class='dropdown-content dropdown-ul'>
	<h6>Show</h6>
	<li>
		<input type="checkbox" id="vegetarian" />
		<label for="vegetarian">Vegetarian</label>
	</li>
	<li>
		<input type="checkbox" id="vegan" />
		<label for="vegan">Vegan</label>
	</li>
	<li>
		<input type="checkbox" id="gluten" />
		<label for="gluten">Gluten Free</label>
	</li>
	<h6>Filter Out</h6>
	<li>
		<input type="checkbox" id="milk" />
		<label for="milk">Milk</label>
	</li>
	<li>
		<input type="checkbox" id="eggs" />
		<label for="eggs">Eggs</label>
	</li>
	<li>
		<input type="checkbox" id="nuts" />
		<label for="nuts">Nuts</label>
	</li>
	<li>
		<input type="checkbox" id="seafood" />
		<label for="seafood">Seafood</label>
	</li>

</ul>