<div class="col s8 center offset-s2">
		<div class="card-content">

			<div class="row" style="text-align:center; padding-right: 200px; padding-left: 200px;">
					 <div class="col s12">
						 <div class="card valign" style="background-color:#ffffff;">
							 <div class="card-content white-text">
								 <button id="generate_back_btn" class="waves-effect waves-dark btn-flat black-text left grey lighten-2">Back</button>
								 <span class="card-title black-text"style="padding-right: 110px;">Generate a Meal</span>


										 <div class="row">
				    			 			<div class="input-field col s3">
				      						<input id="first_name2" type="text" class="black-text">
				      						<label style="text-align:left;" class="active black-text" for="first_name2">Calories</label>
				    						</div>
										 </div>

										<div class="row">
											 <div class="input-field col s3">
												 <input id="first_name2" type="text" class="black-text">
												 <label style="text-align:left;"class="active black-text" for="first_name2">Protein(g)</label>
											  </div>
									  </div>

									  <div class="row">
											<div class="input-field col s3">
												<input id="first_name2" type="text" class="black-text">
											  <label style="text-align:left;" class="active black-text" for="first_name2">Fat(g)</label>
											</div>
									  </div>

								   <div class="row">
							   		<div class="input-field col s3">
						   				 <input id="first_name2" type="text" class="black-text">
											 <label style="text-align:left;" class="active black-text" for="first_name2">Carbs(g)</label>
									  </div>
								   </div>

									<div class="row align-right">
										<div class="col s3">
										</div>
									</div>

		  			</div>
					</div>

						<div class="card-action">
							 <a class="waves-effect waves-dark btn-large white black-text">Generate</a>
			   		 </div>
				 </div>
		 </div>



		</div>
	</div>
