<div class="col s8 center offset-s2">
	<div class="card">
		<div class="card-content">
			<div class="row">
				<button id="generate_back_btn" class="waves-effect waves-dark btn-flat black-text left">Back</button>
				<span class="card-title">Generate a Meal</span>
			</div>
			<p>A bunch of stuff here about generating a meal or something</p>
		</div>
	</div>
</div>