<title>UNI Menu</title>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<!-- Searching Javascript stuff -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/2.5.0/fuse.min.js"></script>
	<link href="css/main.css" rel="stylesheet">
	<link href="css/dragndrop.css" rel="stylesheet">
	<script src="javascript/foods.js"></script>
	<script src="javascript/dragndrop.js"></script>
	<script src="javascript/calendar.js"></script>
	<script src="javascript/filter.js"></script>
	<script src="javascript/search.js"></script>
	<script src="javascript/generate.js"></script>
	<script src="javascript/food-item.js"></script>
	<script src="javascript/magic-ball.js"></script>
	<script src="javascript/my-meal.js"></script>

	

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>