<title>UNI Menu</title>
<head>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

<link href="css/main.css" rel="stylesheet">
<link href="css/dragndrop.css" rel="stylesheet">
<script src="javascript/magic-ball.js"></script>
<script src="javascript/dragndrop.js"></script>
</head>