<div class="col s10 offset-s1 hide-on-med-and-down" id="location-selection">
	<div class="col s6">
		<div class="card">
			<div class="card-content">
				<h4>Piazza</h4>
			</div>
		</div>
	</div>
	<div class="col s6">
		<div class="card">
			<div class="card-content">
				<h4>Rialto</h4>
			</div>
		</div>
	</div>
	<div class="col s6">
		<div class="card">
			<div class="card-content">
				<h4>Maucker</h4>
			</div>
		</div>
	</div>
	<div class="col s6">
		<div class="card">
			<div class="card-content">
				<h4>Chats</h4>
			</div>
		</div>
	</div>
	<div class="col s6">
		<div class="card">
			<div class="card-content">
				<h4>23rd Street Market</h4>
			</div>
		</div>
	</div>
	<div class="col s6">
		<div class="card">
			<div class="card-content">
				<h4>Biscotti's</h4>
			</div>
		</div>
	</div>
	<div class="col s6">
		<div class="card">
			<div class="card-content">
				<h4>Book Bistro</h4>
			</div>
		</div>
	</div>
	<div class="col s6">
		<div class="card">
			<div class="card-content">
				<h4>Crunch Break</h4>
			</div>
		</div>
	</div>
</div>
<div class="hide-on-large-only col s10 offset-s1" id="location-selection">

		<div class="card">
			<div class="card-content">
				<h4>Piazza</h4>
			</div>
		</div>


		<div class="card">
			<div class="card-content">
				<h4>Rialto</h4>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<h4>Maucker</h4>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<h4>Chats</h4>
			</div>
		</div>


		<div class="card">
			<div class="card-content">
				<h4>23rd Street Market</h4>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<h4>Biscotti's</h4>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<h4>Book Bistro</h4>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<h4>Crunch Break</h4>
			</div>
		</div>

</div>