<div>
<div class="col s3">
	<!-- Food Items follow this format -->
	<!-- 
			<div class="portlet">
				<p><a href="#" class="food_lnk"><div class="portlet-header">Omelet</div></a></p>
			</div>
	 -->
		<div class="card">
			<div class="card-content" id="breakfast_card">
				<span class="card-title">Breakfast</span>
				<h6>Mugs and Modems</h6>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger milk eggs">Omelet</a>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat milk eggs">Homestyle Belgian Waffle</a>
				<h6>Sizzles</h6>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger eggs">Scrambled Eggs</a>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat eggs milk">Authentic French Toast</a>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat">Sausage Patty</a>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Breakfast Fried Potatoes</a>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat milk eggs meat">Breakfast Pizza</a>
				<h6>Sweet Talk</h6>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat milk eggs nuts">Honey Wheat Donuts</a>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat milk eggs wheat">Raspberry Chocolate Scone</a>
			</div>
		</div>
	</div>
<div class="col s3">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Lunch</span>
			<h6>Bushels</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat">Cream of Asparagus Soup</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat milk eggs wheat">Chicken Noodle Soup</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat wheat">Travis' Peppy Chicken Pasta</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Romaine and Orange Salad</a>
			<h6>Savories</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat meat milk">Lasagna</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat">Cajun Pork and Red Beans</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat">Gluten Free Barbeque Chicken</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat">Grilled Vegetable Sandwich</a>
			<h6>Wok</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat meat eggs seafood">Red Onion and Shrimp Stir Fry</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat meat eggs">Stir Fry Chicken</a>
			<h6>Sizzles</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat meat milk">Monte Cristo Sandwich</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat meat">Spicy Chicken Sandwich</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger eggs wheat">Garden Burger</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Chicken Sandwich</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Criss Cut Potatoes</a>
			<h6>Serranos</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat wheat eggs milk">Beef Pizza</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat eggs milk">Cheese Pizza</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat wheat eggs milk">Supreme Pizza</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat wheat milk">Tacos and Nachos</a>
			<h6>Sweet Talk</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat milk egg">Strawberry Lemonade Bar</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat milk egg">Toffee Crunch Cookies</a>
		</div>
	</div>
</div>
<div class="col s3">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Dinner</span>
			<h6>Bushels</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat meat">Broccoli Chicken Chowder</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat">Panther Chili</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat wheat eggs">Beef Stroganoff and Egg Noddles</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Romain and Orange Salad</a>
			<h6>Savories</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger eggs meat wheat">Tuna Casserole</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger seafood">Cajun Fish</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat">Baked Chicken Breast</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat">Gluten Free Hot Dog</a>
			<h6>Wok</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat eggs wheat">General Tso's Chicken</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat eggs wheat">Stir Fry Chicken</a>
			<h6>Sizzles</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat wheat">Corn Dog</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat wheat">Spicy Chicken Sandwich</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger eggs wheat">Garden Burger</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger eggs wheat meat">Chicken Sandwich</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Criss Cut Potatoes</a>
			<h6>Serranos</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat wheat milk eggs">Beef Pizza</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat milk eggs">Cheese Pizza</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat wheat milk eggs">Supreme Pizza</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger meat wheat milk">Tacos and Nachos</a>
			<h6>Sweet Talk</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat milk egg">Strawberry Lemonade Bar</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger wheat milk egg">Toffee Crunch Cookies</a>
		</div>
	</div>
</div>
</div>