<div>
<div class="col s3">
	<!-- Food Items follow this format -->
	<!-- 



	 -->
	<div class="card">
		<div class="card-content">
			<span class="card-title">Breakfast</span>
			<div class="column">
			<div class="portlet">
				<div class="portlet-header">Homestyle Belgian Waffles</div>
			</div>
			<div class="portlet">
				<p><a href="#" class="food_lnk"><div class="portlet-header">Omelet</div></a></p>
			</div>
			<p></p>
<!-- 			<p><a href="#" class="food_lnk">Scrambled Eggs</a></p>
			<p><a href="#" class="food_lnk">French Toast</a></p>
			<p><a href="#" class="food_lnk">Grilled Ham</a></p>
			<p><a href="#" class="food_lnk">Breakfast Fried Potatoes</a></p>
			<p><a href="#" class="food_lnk">Breakfast Pizza</a></p>
			<p><a href="#" class="food_lnk">Banana Foster Muffin</a></p>
			<p><a href="#" class="food_lnk">Texas Donut Holes</a></p> -->
			</div>
		</div>
	</div>
</div>
<div class="col s3">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Lunch</span>
			<h6>Bushels</h6>
			<p><a href="#" class="food_lnk">Cream of Asparagus Soup</a></p>
			<p><a href="#" class="food_lnk">Chicken Noodle Soup</a></p>
			<p><a href="#" class="food_lnk">Travis' Peppy Chicken Pasta</a></p>
			<p><a href="#" class="food_lnk">Romaine and Orange Salad</a></p>
			<h6>Savories</h6>
			<p><a href="#" class="food_lnk">Lasagna</a></p>
			<p><a href="#" class="food_lnk">Cajun Pork and Red Beans</a></p>
			<p><a href="#" class="food_lnk">Gluten Free Barbeque Chicken</a></p>
			<p><a href="#" class="food_lnk">Grilled Vegetable Sandwich</a></p>
			<h6>Wok</h6>
			<p><a href="#" class="food_lnk">Red Onion and Shrimp Stir Fry</a></p>
			<p><a href="#" class="food_lnk">Stir Fry Chicken</a></p>
			<h6>Sizzles</h6>
			<p><a href="#" class="food_lnk">Monte Cristo Sandwich</a></p>
			<p><a href="#" class="food_lnk">Spicy Chicken Sandwich</a></p>
			<p><a href="#" class="food_lnk">Garden Burger</a></p>
			<p><a href="#" class="food_lnk">Chicken Sandwich</a></p>
			<p><a href="#" class="food_lnk">Criss Cut Potatoes</a></p>
			<h6>Serranos</h6>
			<p><a href="#" class="food_lnk">Beef Pizza</a></p>
			<p><a href="#" class="food_lnk">Cheese Pizza</a></p>
			<p><a href="#" class="food_lnk">Supreme Pizza</a></p>
			<p><a href="#" class="food_lnk">Tacos and Nachos</a></p>
			<h6>Sweet Talk</h6>
			<p><a href="#" class="food_lnk">Strawberry Lemonade Bar</a></p>
			<p><a href="#" class="food_lnk">Toffee Crunch Cookies</a></p>
		</div>
	</div>
</div>
<div class="col s3">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Dinner</span>
			<h6>Bushels</h6>
			<p><a href="#" class="food_lnk">Broccoli Chicken Chowder</a></p>
			<p><a href="#" class="food_lnk">Panther Chili</a></p>
			<p><a href="#" class="food_lnk">Beef Stroganoff and Egg Noddles</a></p>
			<p><a href="#" class="food_lnk">Romain and Orange Salad</a></p>
			<h6>Savories</h6>
			<p><a href="#" class="food_lnk">Tuna Casserole</a></p>
			<p><a href="#" class="food_lnk">Cajun Fish</a></p>
			<p><a href="#" class="food_lnk">Baked Chicken Breast</a></p>
			<p><a href="#" class="food_lnk">Gluten Free Hot Dog</a></p>
			<h6>Wok</h6>
			<p><a href="#" class="food_lnk">General Tso's Chicken</a></p>
			<p><a href="#" class="food_lnk">Stir Fry Chicken</a></p>
			<h6>Sizzles</h6>
			<p><a href="#" class="food_lnk">Corn Dog</a></p>
			<p><a href="#" class="food_lnk">Spicy Chicken Sandwich</a></p>
			<p><a href="#" class="food_lnk">Garden Burger</a></p>
			<p><a href="#" class="food_lnk">Chicken Sandwich</a></p>
			<p><a href="#" class="food_lnk">Criss Cut Potatoes</a></p>
			<h6>Serranos</h6>
			<p><a href="#" class="food_lnk">Beef Pizza</a></p>
			<p><a href="#" class="food_lnk">Cheese Pizza</a></p>
			<p><a href="#" class="food_lnk">Supreme Pizza</a></p>
			<p><a href="#" class="food_lnk">Tacos and Nachos</a></p>
			<h6>Sweet Talk</h6>
			<p><a href="#" class="food_lnk">Strawberry Lemonade Bar</a></p>
			<p><a href="#" class="food_lnk">Toffee Crunch Cookies</a></p>
		</div>
	</div>
</div>
</div>
<!-- <div class="hide-on-large-only">
<div class="col s12">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Breakfast</span>
		</div>
	</div>
</div>
<div class="col s12">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Lunch</span>
		</div>
	</div>
</div>
<div class="col s12">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Dinner</span>
		</div>
	</div>
</div>
</div> -->