<div>
<div class="col s3">
	<!-- Food Items follow this format -->
	<!-- 
			<div class="portlet">
				<p><a href="#" class="food_lnk"><div class="portlet-header">Omelet</div></a></p>
			</div>
	 -->
		<div class="card">
			<div class="card-content" id="breakfast_card">
				<span class="card-title">Breakfast</span>
				<h6>Mugs and Modems</h6>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Omelet</a>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Homestyle Belgian Waffle</a>
				<h6>Sizzles</h6>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Omelet</a>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Scrambled Eggs</a>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Authentic French Toast</a>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Sausage Patty</a>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Breakfast Fried Potatoes</a>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Breakfast Pizza</a>
				<h6>Sweet Talk</h6>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Honey Wheat Donuts</a>
				<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Raspberry Chocolate Scone</a>
			</div>
		</div>
	</div>
<div class="col s3">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Lunch</span>
			<h6>Bushels</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Cream of Asparagus Soup</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Chicken Noodle Soup</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Travis' Peppy Chicken Pasta</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Romaine and Orange Salad</a>
			<h6>Savories</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Lasagna</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Cajun Pork and Red Beans</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Gluten Free Barbeque Chicken</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Grilled Vegetable Sandwich</a>
			<h6>Wok</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Red Onion and Shrimp Stir Fry</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Stir Fry Chicken</a>
			<h6>Sizzles</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Monte Cristo Sandwich</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Spicy Chicken Sandwich</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Garden Burger</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Chicken Sandwich</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Criss Cut Potatoes</a>
			<h6>Serranos</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Beef Pizza</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Cheese Pizza</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Supreme Pizza</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Tacos and Nachos</a>
			<h6>Sweet Talk</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Strawberry Lemonade Bar</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Toffee Crunch Cookies</a>
		</div>
	</div>
</div>
<div class="col s3">
	<div class="card">
		<div class="card-content">
			<span class="card-title">Dinner</span>
			<h6>Bushels</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Broccoli Chicken Chowder</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Panther Chili</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Beef Stroganoff and Egg Noddles</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Romain and Orange Salad</a>
			<h6>Savories</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Tuna Casserole</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Cajun Fish</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Baked Chicken Breast</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Gluten Free Hot Dog</a>
			<h6>Wok</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">General Tso's Chicken</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Stir Fry Chicken</a>
			<h6>Sizzles</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Corn Dog</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Spicy Chicken Sandwich</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Garden Burger</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Chicken Sandwich</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Criss Cut Potatoes</a>
			<h6>Serranos</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Beef Pizza</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Cheese Pizza</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Supreme Pizza</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Tacos and Nachos</a>
			<h6>Sweet Talk</h6>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Strawberry Lemonade Bar</a>
			<a href="#nutrition" data-toggle="nutrition" data-target="#nutrition" class="food_lnk modal-trigger">Toffee Crunch Cookies</a>
		</div>
	</div>
</div>
</div>