<div class="col s3 right bottom" id="sticky">
	<div class="card">
		<div class="card-content">
			<span class="card-title">My Meal</span>
			<div id="content">
				<table id="mmeal" class="bordered">
					<tbody id="mmeal-bod">
					</tbody>
					<tfoot>
						<tr>
							<td><b>Total Calories</b></td>
							<td><b><span id="total-cal">0</span></b></td>
							<td id="costCell" style="display: none"><b>Total Cost: </b>$<span id="totalCost">0</span></td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>