<div class="col s12">
	<input type="button" style="margin-top:20px" class="waves-effect waves-dark btn white black-text left datepicker" id="calendar_btn" value="Calendar">
	<div class="col s1"><h4 id="location_header" class="white-text">Piazza</h4></div>
	<div class="col s3"><input type="date" id="date_thing" class="datepicker white-text" value="November 11, 2016"></div>
	<a style="margin-top:20px" class="waves-effect waves-dark btn white black-text right" id="filter_btn">Filter</a>
	<a style="margin-top:20px" class="waves-effect waves-dark btn white black-text right" id="generate_btn">Generate a Meal</a>
</div>