<div class="col s12">
	<input type="button" style="margin-top:20px" class="waves-effect waves-dark btn white black-text left datepicker" id="calendar_btn" value="Calendar">
	<div class="col s8"><h4 id="location_header" class="nav-text white-text">Piazza Menus for <span id="date_thing">November 16, 2016</span></h4></div>
	<a style="margin-top:20px" class="waves-effect waves-dark btn white black-text right" id="filter_btn">Filter</a>
	<a style="margin-top:20px" class="waves-effect waves-dark btn white black-text right" id="generate_btn">Generate a Meal</a>
</div>