<div class="col s12">
	<a style="margin-top:20px" class="waves-effect waves-dark btn white black-text left" id="calendar_btn">Calendar</a>
	<a style="margin-top:20px" class="waves-effect waves-dark btn white black-text right" id="filter_btn">Filter</a>
	<a style="margin-top:20px" class="waves-effect waves-dark btn white black-text right" id="generate_btn">Generate a Meal</a>
</div>