<div class="col s12">
	<button type="button" style="margin-top:20px" class="waves-effect waves-dark btn white black-text left datepicker" id="calendar_btn">Calendar</button>
	<div class="col s7"><h4 id="location_header" class="nav-text white-text"><span id="locationTxt">Piazza</span> Menus for <span id="date_thing">Some Day</span></h4></div>
	<a style="margin-top:20px" href='#' data-activates='filter' class="waves-effect waves-dark btn white black-text right dropdown-button" data-position="left" id="filter_btn">Filter</a>
	<a style="margin-top:20px" class="waves-effect waves-dark btn white black-text right" id="generate_btn">Generate a Meal</a>
</div>