<div class="container">
<!-- Modal Structure -->
<div id="nutrition" class="modal">
	<div class="modal-content">
		<h4>Nutrition Facts - <span id="food_item">N/A</span></h4>
		<p>Stuff here</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Add to Menu</a>
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>
</div>
</div>