<div class="row">
	<button id="search_back_btn" class="waves-effect waves-dark btn-flat white-text left">Back</button>
	<h4 class="white-text">Showing results for "<span id="search-term">nothing</span>"</h4>
</div>
<div id="ball-block">
	<div class="col s8">
	<% include 8ball.ejs %>
	</div>
</div>