<div class="row uni-head">
	<div class="col s6">
		<img class="logo" height="75px" src="img/uni-logo.png" />
	</div>
	<div class="col s4 offset-s2">
		<a style="margin-top:20px" class="waves-effect waves-dark btn white black-text right" id="search">Search</a>
		<div class="input-field col s7 right">
			<input id="search" type="text">
			<label for="search-box">Search</label>
		</div>
	</div>
</div>