<div class="row uni-head">
	<div class="col s6">
		<img class="logo" height="75px" src="img/uni-logo.png" />
	</div>
	<div class="col s4 offset-s2">
		<div class="input-field col s7">
			<input id="chat" type="text">
			<label for="chat-box">Search</label>
		</div>
		<a style="margin-top:20px" class="waves-effect waves-light btn white black-text" id="search">Search</a>
	</div>
</div>