.title-txt {
	font-family: 'Arial', cursive;
	font-size:100;
	text-align: center;
	color: #fff;
}
body {
	background-color: #702b9b;
}

#textbox {
	height: 200px;
	overflow-y: scroll;
}
.uni-head {
	background-color: #4f1e6d;
	margin-bottom: 0px;
}
.logo {
	padding-top: 10px;
	padding-bottom: 10px;
}
#generate_btn {
	margin-right: 10px;
}
#sticky {
	position: fixed;
	clear: both;
	bottom: 0px;
	margin-left: 75%;
}
.nav-text {
	margin-top: 25px;
}
.dropdown-ul{
	margin: 20px;
	width: 200px !important;
}
.dropdown-ul li{
	padding-left: 10px;
}
.dropdown-ul h6 {
	margin-left: 10px;
}
.food_lnk {
	display: block;
}

input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid white;
	box-shadow:0 1px 0 0 white;
}

input[type=text]:focus:not([readonly])+label {
	color: white;
}
.chats {
	display: inline !important;
}



