<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
	<% include ../partials/uni-head.ejs %>
	<div class="row">
		<% include ../partials/location-selection.ejs %>
	</div>
</body>
</html>
