<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
	<% include ../partials/uni-head.ejs %>
	<div id="search-block" style="display: none">
		<% include ../partials/search.ejs %>
	</div>
	<div id="location-block" class="row">
		<% include ../partials/location-selection.ejs %>
	</div>
</body>
</html>
