<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>
<body>
	<% include ../../partials/uni-head.ejs %>
	<div class="row">
		<% include ../../partials/navigation.ejs %>
	</div>
	<div class="row">
		<% include ../../partials/menu.ejs %>
	</div>
</body>
</html>
