<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  	<script type="text/javascript">
		jQuery(document).ready(function($){
			$("#locationTxt").text("Rialto")
		})
	</script>
</head>
<body>
	<% include ../partials/uni-head.ejs %>
	<div class="row">
	</div>
</body>
</html>
